{{#partial "content"}}
    {{#if editTeam}}
        <h1>Edit {{editTeam.teamName}}</h1>
        <form action="/team/{{editTeam.id}}" method="POST">
            <label for="teamName">Change Team Name</label><br>
            <input type="text" id="teamName" name="teamName" value="{{editTeam.teamName}}"><br>
            <label for="teamDescription">Change Team Description</label><br>
            <input type="text" id="teamDescription" name="teamDescription" value="{{editTeam.teamDescription}}"><br>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
    {{else}}
        <h1>Add a new Team</h1>
        <form action="/team" method="POST">
            <label for="teamName">Team Name</label><br>
            <input type="text" id="teamName" name="teamName"><br>
            <label for="teamDescription">Team Description</label><br>
            <input type="text" id="teamDescription" name="teamDescription"><br>
            <button class="btn btn-success" type="submit">Add</button>
        </form>

    {{/if}}

{{/partial}}

{{> layout.hbs}}