{{#partial "content"}}

    <p>Team Name</p>
    <p>{{team.teamName}}</p>
    <p>Team Description</p>
    <p>{{team.teamDescription}}</p>
    <p>Team Members</p>
    <p>{{team.teamMembers}}</p>

    <a href="/team/{{team.id}}/update">Update team name or add more team members</a><br>
    <a href="/team/{{team.id}}/delete">Delete</a>
    <a href="/">back to home</a>

{{/partial}}

{{> layout.hbs}}