{{#partial "content"}}

    <h4>Team Name</h4>
    <p>+ {{ team.teamName }}</p>
    <h4>Team Description</h4>
    <p>+ {{ team.teamDescription }}</p>
    <h4>Team Members</h4>

    {{#if teamMembers}}
        {{#each teamMembers}}
            <li>
                + {{this.name}}
                <form action="/team/{{this.id}}/deleteteammember">
                    <button type="submit">X</button>
                </form>


            </li>
        {{/each}}
    {{else}}
        <p>Get 'ta addin'!</p>
    {{/if}}
        <form action="/team/{{team.id}}/addteammember" method="post">
            <input type="text" id="teamMember" name="teamMember">
            <button class="btn btn-success" type="submit">Add</button>
        </form>

    <a href="/team/{{team.id}}/update">Update team name or description</a><br>
    <a href="/team/{{team.id}}/delete">Delete</a><br>
    <a href="/">back to home</a>

{{/partial}}

{{> layout.hbs}}